:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  font-size: 24px;
  color: #646cff;
  padding: 0px 20px;
  text-decoration: inherit;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 10px;
  padding-left:20px;
  color:aqua;
  text-shadow: -2px -2px 0 #000,  
                2px -2px 0 #000,
               -2px  2px 0 #000,
                2px  2px 0 #000; 
}

h2{
  font-size: 30px;
  padding: 0px;
  margin: 25px;
}

p{
  line-height: 2.5;
}

body{
  min-height: 100vh;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
}
main {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 95vh;
  justify-content: center;
  text-align: center;
}
footer{
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

form {
  border: 2px solid black;
  width: 35vw;
  background-color: rgba(245, 245, 245, 0.78);
  color: black;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
}

input {
  width: 80%;
  margin: 5px;
  border: 2px solid black;
}

textArea{
  width: 80%;
  height: 70%;
  margin: 5px;
  border: 2px solid black;
}

button{
  color: black;
  width: 30%;
  padding: 5px;
  margin: 5px;
  margin-top: 25px;
}
.header {
  margin: 0;
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
}

.footerSection{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.footerLink{
  font-size: 14px;
  border: none;
  margin-top: 25px;
}
.aboutSection{
  background-color: #213547;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectMain{
  min-height: 275vh;
}
.projectSection{
  height: 100vh;
}


.contactSection{
  background-color: #213547;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portrait{
  max-width: 400px;
  max-height: auto;

}
.aboutText{
  max-width: 700px;
 
}
.projectContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projectCard{
  margin: 10px;
  color: black;
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectText{
  border: 2px solid black;
  align-items: center;
  max-width: 300px;
  background-color: rgba(230, 230, 230, 0.60)
}

.projectLink{
  border: none;
  text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000; 

}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: black;
  }
  a:hover {
    color: #747bff;
  }
  .aboutHeading{
    color: rgba(255, 255, 255, 0.87);
  }
  .contactHeading{
    color: rgba(255, 255, 255, 0.87);
  }
  p {
    color: rgba(255, 255, 255, 0.87);
  }
}

@media (max-width: 1024px){
  main{
    min-width: 100vw;
    justify-content: center;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
    margin: 5px;
  }
  footer{
    width: 100%;
    align-items: center;
  }
  a{
    font-size: 12px;
    padding: 6px;
    border: none;
  }
  form{
    width: 80%;
  }
  .footerText{
    font-size: 15px;
    padding-right: 20px;
    padding-bottom: 2px;
  }
  .portrait{
    max-width: 300px;
    max-height: auto;
  }
  .aboutSection{
    width: 95vw;
    height: auto;

  }
  .projectCard{
    width: 300px;
    height: 300px;
  
  }

  .aboutSection {
    width: 95vw;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

}


@media (max-width: 578px){
  .projectMain{
    margin: 10px;
    height: 250vh;
  }
}